<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
        
<configuration>
	
	
	<!-- 指定类型别名 -->
	<typeAliases>
		<!-- user就代表 com.zhiyou.pojo.User -->
		<typeAlias type="com.zhiyou.pojo.User" alias="user"/>
	</typeAliases>
	
	
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor" />
	</plugins>
	
</configuration>